In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\onedrive\desktop\maitree\test\vnvv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [4]:
data=pd.read_csv("analysis_id(in).csv")
data=pd.DataFrame(data)
(data)

,Unnamed: 0,date_hour,client,device_type,time_zone,os_name,browser_name,ad_unit,size,bidder,...,sum_time_to_respond,median,min_bid,max_bid,avg_bid,sum_2nd_highest_bid,sum_prebid_winning_bid,sum_winning_bid,sum_nobid,sum_timeout
0,0,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,onemobile,...,6614.0,NaN,0.58520,0.58520,0.585200,0.5852,0.5852,NaN,NaN,NaN
1,1,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-Footers,728x90,rhythmone,...,5171.0,NaN,0.33945,0.34875,0.344100,NaN,NaN,NaN,NaN,NaN
2,2,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-InLine-1,300x250,undertone,...,1523.0,NaN,0.96000,0.96000,0.960000,NaN,NaN,NaN,NaN,NaN
3,3,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2021-04-11T01:00:00,asc126828,Desktop,America/Chicago,Linux,Chrome-85.04183133,div-gpt-ad-BT-D-O-300x250-1,300x250,rhythmone,...,3570.0,0.34875,0.34410,0.34875,0.346425,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4996,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_20,728x90,medianet,...,363.0,0.05828,0.05828,0.05828,0.058280,NaN,NaN,NaN,NaN,NaN
4997,4997,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_22,468x60,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,4998,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_27,310x260,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,4999,2021-04-11T01:00:00,asc126828,Desktop,America/New_York,Windows,Chrome-89.04389114,div-gpt-ad-BT-D-InPost-8_1_33,728x90,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
total_bids=data['bidder'].value_counts().reset_index()

In [6]:
total_bids

          bidder  count
0                  1210
1             ix    464
2      onemobile    407
3       medianet    384
4         criteo    306
5       pubmatic    298
6      rhythmone    246
7       33across    240
8     triplelift    232
9          openx    197
10      appnexus    197
11       rubicon    178
12   emx_digital    169
13  sharethrough    139
14    pulsepoint    134
15         sovrn    102
16     undertone     49
17         teads     48

In [7]:
wins_1=data.groupby('bidder')[['request_count','win_count']].sum().reset_index()

In [8]:
wins_1

          bidder  request_count  win_count
0                        261724        0.0
1       33across            886       19.0
2       appnexus            830       10.0
3         criteo           3181       21.0
4    emx_digital            393       20.0
5             ix           3051       13.0
6       medianet           2556       20.0
7      onemobile           2726       35.0
8          openx           1165        7.0
9       pubmatic           2335       57.0
10    pulsepoint            191        5.0
11     rhythmone            655       18.0
12       rubicon            582        0.0
13  sharethrough            332       10.0
14         sovrn            358        1.0
15         teads            700       16.0
16    triplelift           1479       10.0
17     undertone            104       16.0

In [9]:
wins_1['ratio']=wins_1['win_count']/wins_1['request_count']

In [10]:
wins_1

          bidder  request_count  win_count     ratio
0                        261724        0.0  0.000000
1       33across            886       19.0  0.021445
2       appnexus            830       10.0  0.012048
3         criteo           3181       21.0  0.006602
4    emx_digital            393       20.0  0.050891
5             ix           3051       13.0  0.004261
6       medianet           2556       20.0  0.007825
7      onemobile           2726       35.0  0.012839
8          openx           1165        7.0  0.006009
9       pubmatic           2335       57.0  0.024411
10    pulsepoint            191        5.0  0.026178
11     rhythmone            655       18.0  0.027481
12       rubicon            582        0.0  0.000000
13  sharethrough            332       10.0  0.030120
14         sovrn            358        1.0  0.002793
15         teads            700       16.0  0.022857
16    triplelift           1479       10.0  0.006761
17     undertone            104       16.0  0.153846

In [11]:
final_data_1=wins_1.merge(total_bids,on='bidder',how='left')
final_data_1

          bidder  request_count  win_count     ratio  count
0                        261724        0.0  0.000000   1210
1       33across            886       19.0  0.021445    240
2       appnexus            830       10.0  0.012048    197
3         criteo           3181       21.0  0.006602    306
4    emx_digital            393       20.0  0.050891    169
5             ix           3051       13.0  0.004261    464
6       medianet           2556       20.0  0.007825    384
7      onemobile           2726       35.0  0.012839    407
8          openx           1165        7.0  0.006009    197
9       pubmatic           2335       57.0  0.024411    298
10    pulsepoint            191        5.0  0.026178    134
11     rhythmone            655       18.0  0.027481    246
12       rubicon            582        0.0  0.000000    178
13  sharethrough            332       10.0  0.030120    139
14         sovrn            358        1.0  0.002793    102
15         teads            700       16.0  0.022857     48
16    triplelift           1479       10.0  0.006761    232
17     undertone            104       16.0  0.153846     49

In [12]:
final_data_1['win_rate_1']=(final_data_1['ratio']/final_data_1['count'])*100

In [13]:
final_data_1

          bidder  request_count  win_count     ratio  count  win_rate_1
0                        261724        0.0  0.000000   1210    0.000000
1       33across            886       19.0  0.021445    240    0.008935
2       appnexus            830       10.0  0.012048    197    0.006116
3         criteo           3181       21.0  0.006602    306    0.002157
4    emx_digital            393       20.0  0.050891    169    0.030113
5             ix           3051       13.0  0.004261    464    0.000918
6       medianet           2556       20.0  0.007825    384    0.002038
7      onemobile           2726       35.0  0.012839    407    0.003155
8          openx           1165        7.0  0.006009    197    0.003050
9       pubmatic           2335       57.0  0.024411    298    0.008192
10    pulsepoint            191        5.0  0.026178    134    0.019536
11     rhythmone            655       18.0  0.027481    246    0.011171
12       rubicon            582        0.0  0.000000    178    0.000000
13  sharethrough            332       10.0  0.030120    139    0.021669
14         sovrn            358        1.0  0.002793    102    0.002739
15         teads            700       16.0  0.022857     48    0.047619
16    triplelift           1479       10.0  0.006761    232    0.002914
17     undertone            104       16.0  0.153846     49    0.313972